body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  /* padding: 90px 10px; */
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Display some links to the right */
.right-navbar {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

.bg-img {
  background-image: url("/image/pexs.jpg");
  min-height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 50px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set style for the submit button */
.btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* About Us Section */
.about-container {
  margin-top: 40px;
  padding: 16px;
  background-color: #ddd;
  border-radius: 16px;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-size: 20px;
  font-family: "Beau Rivage", cursive;
}

/* Contact Us Section */
.contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-header h4 {
  font-size: 20px;
  font-family: "Beau Rivage", cursive;
}

.contact-text {
  text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  display: inline-block;
  font-family: product-sans;
  font-size: 1.2rem;
  font-weight: 700;
  background: #3482ff;
  padding: 18px 75px 18px 75px;
  border-radius: 100px;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 4rem;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container {
  display: flex;
  padding: 20px;
  justify-content: center;
}

/* Meet the team */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.row {
  padding: 20px;
  margin-top: 40px;
}

.meet {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  font-family: "Beau Rivage", cursive;
  margin-bottom: 20px;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.team-container {
  padding: 0 16px;
}

/* Clear floats */
.team-container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
